<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script>
          function checkScreenAndRedirect() {
                const width = window.innerWidth;
                const height = window.innerHeight;
                const aspectRatio = width / height;

                // Example condition: if the screen is more portrait-like (e.g., phone)
                if (aspectRatio < 1) {
                  // Redirect to a mobile-specific version
                  window.location.href = "/mobile";
                }
              }

          window.onload = checkScreenAndRedirect;
          window.onresize = () => {
            checkScreenAndRedirect();
          };
        </script>
        <link rel="stylesheet" href="/css/nes.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=more_up,search" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.3.0/marked.min.js"></script>
    </head>
    <body>
        <div style="max-height: 100vh; max-width: 100vw;">
            <div class="vignette"></div>
            <img class="parallax background" data-speedx="-0.0009" data-speedy="-0.0005" src="/img/Background.webp" />
            <img class="parallax fireplace" data-speedx="0" data-speedy="0" src="/img/Fire.webp"/>
            <img class="parallax fireplace" data-speedx="-0.0075" data-speedy="-0.0019" src="/img/Fireplace.webp"/>
            <img class="parallax fireplace" data-speedx="-0.0075" data-speedy="-0.0019" src="/img/Carpet.webp"/>
            <img class="parallax fireplace" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Shelf.webp"/>
            <img class="parallax fireplace" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Painting.webp"/>
            <img class="parallax fireplace" data-speedx="-0.009" data-speedy="-0.0019" src="/img/Trophies.webp"/>
            <img class="parallax fireplace" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Bookshelf.webp"/>
            <img class="parallax name" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Name.webp"/>
            <img class="parallax helpButton hover" data-speedx="-0.003" data-speedy="-0.0019" src="/img/HelpButton.webp"/>
            <div class="jukebox-guitar" onclick="popUpOpen('guitar')">
                <img class="parallax jukebox" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Jukebox.webp"/>
                <img class="parallax guitar" data-speedx="-0.0015" data-speedy="-0.0019" src="/img/Guitar.webp"/>
            </div>
            <img class="parallax linkdelnOnShelf hover" onclick="window.open('https://www.linkedin.com/in/soham-gupta-b567b2274/', '_blank').focus();" data-speedx="-0.005" data-speedy="-0.0019" src="/img/Linkdeln.webp"/>
            <img class="parallax githubOnShelf hover" onclick="window.open('https://github.com/fuel000cynical', '_blank').focus();" data-speedx="-0.005" data-speedy="-0.0019" src="/img/Github.webp"/>
            <div class="lawStuff" onclick="popUpOpen('law')">
              <img class="parallax lawBooks" data-speedx="-0.005" data-speedy="-0.0019" src="/img/LawBooks.webp"/>
              <img class="parallax robe" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Robe.webp"/>
            </div>
            <div class="table-computer" onclick="popUpOpen('computer')">
              <img class="parallax table" data-speedx="-0.005" data-speedy="-0.0019" src="/img/Table.webp"/>
              <img class="parallax computer" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Computer.webp"/>
            </div>

        </div>
        <div class="popup" id="mainPopup" onclick="closePopupFromBack(event)">
            <div class="popupBack">
                <button onclick="closePopup()" class="nes-btn popup-close-btn"><i class="nes-icon close is-small"></i></button>


                <div class="lawPopup" id="lawPopup">
                  <div class="mainLawTop">
                    <div class="lawBlogMenu">
                      <a class="active" href="/law/blog/<%= recentLawBlog[0]._id %>"><%= recentLawBlog[0].title %></a>
                      <% if(recentLawBlog.length >= 2){%>
                        <a href="/law/blog/<%= recentLawBlog[1]._id %>"><%= recentLawBlog[1].title %></a>
                      <%}%>
                      <% if(recentLawBlog.length > 3){%>
                        <a href="/law/blog/<%= recentLawBlog[2]._id %>">More</a>
                      <%}%>
                    </div>
                    <img class="lawTop" src="/img/lawPaperTop.webp" />
                  </div>
                  <div class="mainLawShow">
                    <h4><%= recentLawBlog[0].date.toLocaleString('default', { month: 'long' }) %> <%= recentLawBlog[0].date.getDate() %>, <%= recentLawBlog[0].date.getFullYear() %></h4>
                    <article id="blogPost" class="preview">

                    </article>
                    <hr class="lawPageStop">
                    <% if(recentLawBlog.length >= 2){%>
                      <a class="nes-btn" style="padding: 0;" href="/law/blog/<%= recentLawBlog[1]._id %>">More  >></a>
                    <%}%>
                  </div>
                </div>

                <div class="guitarPopup" id="guitarPopup">
                    <img class="juke" src="/img/guitarDisplay/jukebox.webp" />
                    <div class="search-box">
                        <input type="text" oninput="searchGuitar()" class="jukeSearch" id="jukeSearch" placeholder="Search Songs" />
                        <span class="jukeSearchIcon material-symbols-outlined">search</span>
                    </div>
                    <div class="songInfo" id="songInfo">

                    </div>
                    <div class="rotatingDisks" id="rotatingDisks">
                    </div>
                </div>

                <div class="computerPopup" id="computerPopup">
                  <img class="codeEditor" src="/img/computerDisplay/codeEditor.webp" />
                  <div class="projectDisplayDad">
                    <div class="projectList">
                        <div class="projectButtonHover"><img class="projectButtonIcon" src="/img/computerDisplay/folderIcon.png">Techer</div>
                        <div class="projectButtonHover"><img class="projectButtonIcon" src="/img/computerDisplay/folderIcon.png">CryptIt</div>
                        <div class="projectButtonHover"><img class="projectButtonIcon" src="/img/computerDisplay/folderIcon.png">CS50 for AI</div>
                    </div>
                    <div class="showProject">
                      <div class="topPartShowProject">
                        <div class="leftTopPartShowProject"><img class="projectImage" src="/files/ProjectTest.png" /></div>
                        <div class="rightTopPartShowProject">
                          <span class="projectTitle">Project Name</span>
                          <br>
                          <span class="projectDate">5th March 2023</span>
                          <br>
                          <div class="projectTechStack"><font color="orange">let</font> techStack = {<font color="lightgreen">"html", "css", "js", "mongoDB", "express", "python"</font>}</div>
                        </div>
                      </div>
                      <div class="bottomPartShowProject">
                        <div class="projectDescription">
                          <font color="orange">let</font> description = <font color="lightgreen">"This project is a portfolio website."</font>
                        </div>
                        <div class="projectFunFact">
                          //fun-fact: I had to learn how to make pixel art.
                        </div>
                        <div class="projectActions">
                          <div onclick="window.open('https://www.linkedin.com/in/soham-gupta-b567b2274/', '_blank').focus();"><i class="nes-icon github"></i></div>
                          <div onclick="window.open('https://www.linkedin.com/in/soham-gupta-b567b2274/', '_blank').focus();"><i class="nes-icon youtube"></i></div>
                          <div onclick="window.open('https://www.linkedin.com/in/soham-gupta-b567b2274/', '_blank').focus();"><i class="nes-icon trophy"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
        <script src="/js/main.js"></script>
        <script>
          document.getElementById("blogPost").innerHTML = marked.parse("<%= recentLawBlog[0].content %>");
        </script>
        <script>
        const guitarData=[
        <% guitarCovers.forEach(g => { %>
          <% let query = g.name + g.artist; g.tags.forEach(t => {query = query + t;}); query = query.replace(/\s/g,'').toLowerCase(); %>
          {
            songName: "<%= g.name %>",
            songArtist: "<%= g.artist %>",
            youtube: "<%= g.youtube %>",
            tabs: "<%= g.tabs %>",
            embed: "<%= g.embed %>",
            query: "<%= query %>",
            disk: <%= 1 + Math.floor(Math.random() * 4); %>
          },

        <%});%>
        ];

        let searchResult = guitarData;

        function searchGuitar(){
          let gSearchAsk = document.getElementById("jukeSearch").value;
          gSearchAsk = gSearchAsk.replace(/\s/g,'').toLowerCase();
          searchResult = [];
          for(let i = 0; i < guitarData.length; i++){
            if(guitarData[i].query.includes(gSearchAsk)){
              searchResult.push(guitarData[i]);
            }
          }

          displayGuitarInfo(0);

        }

        function displayGuitarInfo(index){
          if(searchResult.length != 0){
            let cont = document.getElementById('songInfo');
            let det = `
              <div class="songInfo1">
                  <span class="songName">${searchResult[index].songName}</span>
                  <br>
                  <span class="songArtist">${searchResult[index].songArtist}</span>
                  <br><br>
                  <ul class="musicLinks">
            `
            if(searchResult[index].youtube != ''){
              det += `<li onclick="location.href='${searchResult[index].youtube}'"> <i class="nes-icon youtube is-medium hover"></i></li>`;
            }

            if(searchResult[index].tabs != ''){
              det += `<li onclick="location.href='${searchResult[index].tabs}'"><img class="musicNote hover" src="/img/guitarDisplay/musicNote.png"/></li>`;
            }

            det += `</ul></div><div class="songInfo2"><audio class="musicPlay" preload="metadata" controls><source src="${searchResult[index].embed}"></audio></div>`

            cont.innerHTML = det;

            let rotatingDisks = document.getElementById('rotatingDisks');
            let ridh = `<image class="disks disk-straight diskImg" src="/img/guitarDisplay/disk${searchResult[index].disk}.webp" />`
            if(searchResult.length >= 2){
              ridh = `<div><img class="musicArrow arrowLeft" onclick="left(${getNextIndex(searchResult,index,"prev")})" src="/img/utility/arrowLeft.webp" /><image class="disks disk-left diskImg" onclick="left(${getNextIndex(searchResult,index,"prev")})" src="/img/guitarDisplay/disk${searchResult[getNextIndex(searchResult,index,"prev")].disk}.webp" /></div>` + ridh;
              if(searchResult.length == 2){
                ridh = ridh + "<div class='disks disk-right diskImg'></div>";
              }
            }
            if(searchResult.length >= 3){
              ridh = ridh + `<div><image class="disks disk-right diskImg" onclick="right(${getNextIndex(searchResult,index,"next")})" src="/img/guitarDisplay/disk${searchResult[getNextIndex(searchResult,index,"next")].disk}.webp" /><img class="musicArrow arrowRight" onclick="left(${getNextIndex(searchResult,index,"prev")})" src="/img/utility/arrowRight.webp" /></div>`;
            }
            rotatingDisks.innerHTML = ridh;

          }else{
          document.getElementById('songInfo').innerHTML = `
            <div class="songInfo1">
                <span class="songName">No Result</span>
            </div><div class="songInfo2"></div>
          `;
          document.getElementById('rotatingDisks').innerHTML = "";
        }
      }

        displayGuitarInfo(0);


        function left(index){
          displayGuitarInfo(index);
        }

        function right(index){
          displayGuitarInfo(index);
        }

        </script>
    </body>
</html>
